# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file (최상위 설정 파일)
root = true

# Unix-style newlines with a newline ending every file (기본 설정)
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java and Spring Boot 관련 파일 설정
[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

# YAML 설정 파일 (.yml) 설정
[*.yml]
indent_style = space
indent_size = 2

# Properties 파일 설정 (.properties, .env)
[*.properties]
indent_style = space
indent_size = 2

# Markdown 파일 설정 (.md)
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# JSON 파일 설정 (.json)
[*.json]
indent_style = space
indent_size = 2

# HTML 파일 설정
[*.html]
indent_style = space
indent_size = 2

# XML 파일 설정 (.xml)
[*.xml]
indent_style = space
indent_size = 2

# Gradle 설정 파일
[*.gradle]
indent_style = space
indent_size = 4
